/* 
    Document   : simple.css
    Created on : 19-Jul-2013, 16:40:44
*/

#content {
    display: block;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

/*********************LINKS***********************/

#menu span#events {
    background: url("../img/events.png") no-repeat scroll 0 0 transparent;
    height: 50px;
    // width: 130px;
}

#menu span#contact {
    background: url("../img/contact.png") no-repeat scroll 0 0 transparent;
    height: 50px;
    // width: 110px;
}

#menu span#press {
    background: url("../img/press.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    // width: 80px;
}

#menu span#products {
    background: url("../img/products.png") no-repeat scroll 0 0 transparent;
    height: 57px;
    /// width: 142px;
}

/*********************MENU************************/

#menu {
    list-style-type:none;
    width:644px;
    margin:0 auto;
    padding:0;
}

#menu ul {
    list-style-type:none;
    position:absolute;
    left:-9999px;
    width:128px;
    margin:0;
    padding:0;
}

#menu span {
    float:left;
    position:relative;
    margin:1px 1px 0 0;
    color: black;
}

#menu span.sub {
    background:#f80;
}

#menu span,#menu span a {
    display:block;
    font-family:arial, sans-serif;
    font-size:11px;
    line-height:900px;
    width:160px;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    font-weight:700;
}

#menu span.open span {
    left:0;
    top:24px;
    background:url(transparent.gif);
}

#menu span:hover, #menu span a:hover, #menu span.open {

}

/*********************CANVAS***********************/

#stage {
    background-image: url("../img/radio_small.png");
    height: 528px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 100px;
    width: 586px;
    // z-index: -1; // was breaking the buttons, not sure why its there?
}

#canvas {
    left: 124px;
    position: absolute;
    top: 160px;
    width:320px;
    height:240px;
    
    z-index:100;
}

#info {
    top: 0;
    left: 0;
    width: 568px;
    // background-color: rgba(100, 0, 51, 0.4);
    // border-radius: 25px;
    color: #000000;
    font-size: 120%;
    height: auto;
    display: none;
    min-height: 500px;
    padding: 10px 15px 20px;
    position: absolute;
    z-index: 999;
}


#canvascover {
    position:absolute;
    top:0px;
    left:0;
    right:0;
    bottom:0;
    z-index:50;
}

#canvascover img {
    width:100%;
    height:100%;
}


/*********************AUDIO VIDEO BUTTONS***********************/

#video {
    left: 324px;
    position: absolute;
    top: 420px;
    cursor:pointer;
        background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
}

#audio {
    left: 224px;
    position: absolute;
    top: 420px;
        background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
}

/*********************TESTING***********************/

#scroller {
    background-color: #00b6ff;
    color: #ffffff;
    font-size: 14px;
    height: 28px !important;
    line-height:28px;
    overflow: hidden;
    position: relative;
    width: 1005;
    padding-top: 1px;
    position: relative;
}
.scrollingtext {
    color: #ffffff;
    white-space:nowrap;
    position:absolute;
    font-size: 14px;
    font-style: oblique;
}
.scrollingtext a:link, .scrollingtext a:visited {
    color: #ffffff;
    font-size: 14px;
}
.scrollingtext a:visited {
    text-decoration:none;
}

.review {
    padding-right: 50px;
}

#static-text {
    position: absolute;
    padding: 0 10px;
    background-color: #00b6ff;
    z-index: 99999;
    font-weight: bold;
}

p {
    font-size:0.8em;
}
