/* 
    Document   : simple.css
    Created on : 19-Jul-2013, 16:40:44
*/

#content {
    display: block;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

/*********************LINKS***********************/

#menu span#events {
     background: transparent url("../img/events.png") no-repeat scroll 0 0 / 100% auto;
    height: 120px;
    margin-left: 18px;
    width: 250px;
}

#menu span#contact {
    background: transparent url("../img/contact.png") no-repeat scroll 0 0 / 100% auto;
    height: 100px;
    margin-left: 100px;
    width: 227px;
}
#menu span#press {
    background: transparent url("../img/press.png") no-repeat scroll 0 0 / 100% auto;
    height: 100px;
    margin-left: 120px;
    width: 150px;
}

#menu span#products {
    background: transparent url("../img/products.png") no-repeat scroll 0 0 / 100% auto;
    height: 120px;
    margin-left: 80px;
    width: 250px;
}

/*********************MENU************************/

#menu {
    list-style-type:none;
    width:1220px; /* CHANGE THESE FOR MENU SPACING */
    margin:0 auto;
    padding:0;
}

#menu ul {
    list-style-type:none;
    position:absolute;
    left:-9999px;
    width:128px;
    margin:0;
    padding:0;
}

#menu span {
    float:left;
    position:relative;
    margin:1px 1px 0 0;
    color: black;
}

#menu span.sub {
    background:#f80;
}

#menu span,#menu span a {
    display:block;
    font-family:arial, sans-serif;
    font-size:11px;
    line-height:900px;
    // width:160px;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    font-weight:700;
}

#menu span.open span {
    left:0;
    top:24px;
    background:url(transparent.gif);
}

#menu span:hover, #menu span a:hover, #menu span.open {

}

/*********************CANVAS***********************/

#popup {
    background-image: url("../img/radiotabcrop.png");
    height:623px;
    width:800px;
    position:absolute;
    top:100px;
    //visibility: hidden;
    z-index: 110;
    display:none;
}

img#close {
    position:absolute;
    left: 375px;
    top: 100px;
    cursor:pointer;
}

#stage {
    background-image: url("../img/radio_small.png");
    height: 528px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 586px;
}

#canvas {
    left: 124px;
    position: absolute;
    top: 160px;
    width:320px;
    height:240px;
    
    z-index:100;
}

#info {
    color: #000000;
    font-size: 120%;
    position: absolute;
    display: block;
    height: 175px;
    left: 120px;
    top: 150px;
    width: 575px;
}

#canvascover {
    position:absolute;
    top:0px;
    left:0;
    right:0;
    bottom:0;
    z-index:50;
}

#canvascover img {
    width:100%;
    height:100%;
}


/*********************AUDIO VIDEO BUTTONS***********************/

#video {
    left: 324px;
    position: absolute;
    top: 420px;
    cursor:pointer;
        background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
}

#audio {
    left: 224px;
    position: absolute;
    top: 420px;
        background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
}

/*********************SCROLLER***********************/

#scroller {
    clear: both;
    height: 40px !important;
    line-height: 40px;
    overflow: hidden;
    padding-top: 1px;
    position: relative;
    top: 400px;
    z-index: 105;
    left: 125px;
    top: 325px;
    width: 550px;
}
.scrollingtext {
    color: #000;
    font-size: 2em;
    font-style: oblique;
    position: absolute;
    white-space: nowrap;   
}
.scrollingtext a:link, .scrollingtext a:visited {
    color: #ffffff;
    font-size: 14px;
}
.scrollingtext a:visited {
    text-decoration:none;
}

.review {
    padding-right: 50px;
}

p {
    font-size:0.8em;
}

/****** ALL CONTENT PAGES TEXT  ************/

p.contenttext {
    text-align: center;
    font-size: 1.4em;
    
}

p.contenttext a {
    color: black;
}
